* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548587 ;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5vmin;
    margin: 0 auto;

}

.box {
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #b0413e;
    background-color: white;
    cursor: pointer;   
}



#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;

}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;

}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
   display: none; 
}